<div class="alert alert-info">
<h3>Info</h3>
Met deze webapplicatie kan u een afvalkalender genereren in ICS formaat die in een kalenderapplicatie kan ingeladen worden (google calender, apple ical, ...)<br>
Op dit moment kunnen enkel kalenders gegenereerd worden voor adressen in Vlaanderen.<br>
<br>
Deze applicatie gebruikt <a href="https://recycleapp.be/">https://recycleapp.be/</a> als datasource.<br>
Recycleapp.be bevat veel meer informatie dan deze applicatie en kan ook informatie verstrekken voor adressen in Brussel en Wallonie.<br>
Spijtig genoeg ondersteunt recycleapp.be het ical formaat niet meer.<br>
Een aanvraag voor ical-support werd ingediend bij recyclapp.be
<h3>Logging</h3>
De enige informatie die deze applicatie logt zijn de adressen die ingevoerd worden.
Dit om eventuele problemen met foutieve zoekopdrachten te kunnen onderzoeken.<br>
<h3>Bugs</h3>
Deze applicatie is een hobbyproject en komt zonder enige vorm van garantie of support.<br>
Bugs en issues mogen steeds gemeld worden op de github pagina van dit project:<br>
<a href="https://github.com/paulherbosch/recyclecalendar">https://github.com/paulherbosch/recyclecalendar</a>
</div>
